# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.version
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.class
*.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
*.bak
.metadata/.lock
AG2411_Raster/src/kth/ag2311/mapalgebra_NgaNguyen E01.rar
.metadata/version.ini
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
.metadata/version.ini
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
*.xmi
*.ini
.metadata/.plugins/org.eclipse.core.resources/.history/31/00ddecc2f57d00141e0eae1cc878df58
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/AG2411_Raster/2014/12/50/refactorings.history
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.projects/AG2411_Raster/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Ex00/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml