# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.version
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.class
*.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
*.bak
.metadata/.lock
AG2411_Raster/src/kth/ag2311/mapalgebra_NgaNguyen E01.rar
.metadata/version.ini
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
.metadata/version.ini
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
*.xmi
*.ini
.metadata/.plugins/org.eclipse.core.resources/.history/31/00ddecc2f57d00141e0eae1cc878df58
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/AG2411_Raster/2014/12/50/refactorings.history
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.projects/AG2411_Raster/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Ex00/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/16/80bf5ef2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/1e/60bd89c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/29/30e54cf2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/2a/f0767cc6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/32/90df82c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/33/806c57f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/38/20a99cc6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/43/402a48f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/5/700961f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/5b/004b75c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/66/904050f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/68/30a964c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/70/20645bf2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/77/80e6a4c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/78/c0d34bf2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/94/40b269c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/96/605363f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/a0/f015a1c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/aa/603568f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/b4/d01847f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/bd/309b90c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/bd/708a98c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/c/808a52f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/c5/f0b264f2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/d4/e09fa0a2f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/d8/d02f66c6f67d00141255a8c4e7e2d43c
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/fb/5053a9c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/fb/506867c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.resources/.history/fb/d0a068c6f67d00141255a8c4e7e2d43c
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/ex01.launch